{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}


{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">{{ site_name }}</h1>
        </div>

        <div class="row">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores deserunt error esse est ex laudantium magni molestiae necessitatibus nihil provident reprehenderit repudiandae, sequi sint tempore temporibus vitae. Aperiam fugit officiis sunt ullam ut. At deserunt dolorem doloribus exercitationem fugiat ipsam maiores minima, nostrum, possimus ratione repudiandae saepe tenetur vero.</p>

        </div>

        {# Affichage du bandeau avec l'image fixe #}
        <div class="row my-5 batman-cover"></div>

        {# TODO: Afficher les 3 derniers articles #}
        <div class="row">

        </div>

        <div class="row mb-5">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores deserunt error esse est ex laudantium magni molestiae necessitatibus nihil provident reprehenderit repudiandae, sequi sint tempore temporibus vitae. Aperiam fugit officiis sunt ullam ut. At deserunt dolorem doloribus exercitationem fugiat ipsam maiores minima, nostrum, possimus ratione repudiandae saepe tenetur vero.</p>

        </div>

    </div>

{% endblock %}